<<<<<<< HEAD
<<<<<<< HEAD
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
=======
<<<<<<< HEAD
=======
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
>>>>>>> e027ec52e6b87f3bfab9b1b6bc903f03e107c6fe
>>>>>>> master

.Home{
    background-size: cover;
}
=======
>>>>>>> 436ff0dc888a1ebc13613ca995a09ee9e4266ab4
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
 
  .carousel {
    margin-bottom: 4rem;
  }
 
  .carousel-caption {
    bottom: 3rem;
    /* z-index: 10; */
  }
  
  
  .carousel-item {
    height: 45rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
<<<<<<< HEAD
  /* Features
  ------------------------- */
  
  .feature-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .feature-heading {
=======
 
  .featurette-divider {
    margin: 5rem 0; 
  }
  
 
  .featurette-heading {
>>>>>>> master
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  /* ---------------------------------------------
          CONTACT SECTON
--------------------------------------------- */
#contact{
    background-image: url(backgrounds/c_image.jpg);
    padding: 20px 5px;
    color: white;
  }
  .message{
    padding: 3px 15px;
    margin: 7px 2px;
    width: 700px;
    max-width: 89%;
  }
  form{
    width: 700px;
    max-width: 90%;
  }
  ::placeholder{
    color: rgb(204, 204, 204);
  }
  form input{
    width:49%;
  }
  form input, form textarea{
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: all 0.2s ease;
    padding: 7px;
  }
  form textarea{
    margin-top: 20px;
    width: 98.8%;
  }
  form input:focus, textarea:focus{
    background: rgba(0, 0, 0, 0.733);
    border: transparent;
    transform: scale(1.03);
  }
  form input[type=submit]{
    background: rgba(255, 166, 0, 0.699);
    font-weight: 300;
    font-size: 1.6em;
    padding: 0px;
    outline: none;
    padding-top: 20px;
  }
  form input[type=submit]:hover{
    border-radius: 30px;
    background: rgb(255, 166, 0);
    outline: none;
  }
  /* ---------------------------------------------
            FOOTER SECTON
  --------------------------------------------- */
  footer{
    padding-top: 40px;
  }
  footer img{
    border-radius: 50%;
    transition: 0.2s ease-out;
  }
  footer img:hover{
    transform: scale(0.8);
    padding: 3px;
    margin: -3px;
    background: rgb(255, 145, 0);
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }
  /* ---------------------------------------------
         MEDIA QUERIES
  --------------------------------------------- */
  @media only screen and (min-width: 1000px){
    #portfolio>div>div>p{
      font-size: 2em;
    }
  }
  @media only screen and (max-width: 600px){
    header div{
      padding-top: 30vw;
    }  
    #whatWeDo div{
      width: 100%;
      min-height: 130px;
    }
    #portfolio>div{
      width: 49%;
    }
    #portfolio>div>div>p{
      font-size: 1.4em; 
    }
    form input, form textarea{
      width: 100%;
      margin: 5px 0;
    }
    form input[type=submit]{
      width: auto;
      padding: 0 15%;
    }
  }
  .contact {
    background-image: url(backgrounds/c_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 150px;
    text-align: center center;
    padding-top: 30px;
  }
  
  .title {
    padding: 6px;
  }
  
<<<<<<< HEAD
  .contact h2 {
    text-align: center center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Gabriela', serif;
  }
=======
  div#dtls,
div#cart ,#buy{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1;
}

button#close,
button#closeb {
    position: fixed;
    right: 10px;
    top: 10px;
    color: #f00;
    font: 900 2em sans-serif;
    border-radius: 50%;
}

div#dtls>div,#buy>div {
    background: #76aac9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    padding: 3px 7px;
    border-radius: 0px 0px 7px 7px;
    color: blue;
}

div#dtls>div>h2,#buy>div>h3 {
    width: 90%;
}

div#dtls>div>div {
    max-width: 620px;
    padding: 2px;
}

div#dtls>div>div:last-of-type {
    min-width: calc(100% - 350px);
}

div#dtls>div>div>img {
    display: block;
    width: 250px;
    height: 250px;
    background: #ffffff;
}

div#dtls>div>div>form>label {
    display: block;
}

div#cart>div {
    background: #94c6d3;
    max-width: 960px;
    margin: auto;
    padding: 3px 7px;
    border-radius: 0px 0px 7px 7px;
}

div#cart table {
    width: 100%;
}

div#cart table tr th {
    border: 3px solid #000000;
    border-width: 0px 0px 3px 1px;
    text-transform: uppercase;
    padding: 1px 3px;
}

div#cart table tr td {
    border: 1px solid #142e35;
    border-width: 0px 0px 1px 1px;
    padding: 1px 3px;
}

div#cart table tr td img {
    min-width: 28px;
    max-width: 128px;
    height: 56px; 
    background: #19383d;
    display: block;
}

div#cart table tr td button {
    color: rgb(40, 175, 51);
    font: 900 1.4em sans-serif;
}
.img{
  height: 250px;
  width: 250px;
  border-radius: 10%;
  display: none;
}
<<<<<<< HEAD
>>>>>>> master
=======
#slider{
  width: 100%;
  height: 700px;
background-color: #9eb7f0;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px;
}


#slider{
height: 500px;
  overflow: hidden;
 
}
#slider figure div{
float: left;  
  width: 20%;
}
#slider figure img{
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 0%;
}  
#slider figure{
  position: relative;
  width: 400%;
  margin: 0px;
  left: 0;
  animation: 50s ravi infinite;
  
}

@keyframes ravi { 
    0%{
      left: 0%;  
    }
   10%{
       left: 0%;   
    }
  12%{
        left: -100%;  
    }
   22%{
        left: -200%;  
    }
   24%{
         left: -200%; 
    }
   34%{
         left: -200%; 
    }
   36%{
         left: -300%; 
    }
   46%{
         left: -300%; 
    }
   48%{
         left: -400%; 
    }
   58%{
         left: -400%; 
    }
  60%{
        left: -300%;  
    }
   70%{
         left: -300%; 
    }
    72%{
         left: 200%; 
    }
   82%{
         left: -200%; 
    }
   84%{
         left: -100%; 
    }
   94%{
         left:-100%; 
    }
   96%{
         left: 0%; 
    }

}
.image_slide{
    width: 100%;
  }
>>>>>>> 436ff0dc888a1ebc13613ca995a09ee9e4266ab4
